#!/bin/bash

# lane {{ id }}
{{ LuMPPath }}/Basic_LuMP_Recorder.py --port=UDP:{{ port }} --clock_speed={{ clock_speed }} --beamlets_per_lane={{ beamlets_per_lane }} --datadir={{ datadir }} --data_type_in={{ data_type_in }} --station_name={{ station_name }} --writer_type={{ writer_type }} --physical_beamlet_array={{ physical_beamlet_array }} --rcumode_array={{ rcumode_array }} --epoch_array={{ epoch_array }} --verbose --duration={{ duration }} --subband_array={{ subband_array }} --filename_base={{ filename_base }} --sourcename_array={{ sourcename_array }} --rightascension_array={{ rightascension_array }} --declination_array={{ declination_array }} --recorder_num_cores={{ recorder_num_cores}} {{ opt_arg }}

